---
layout: default
bodyClass: "page-partners"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="https://assocircors.org.br/">Associacao de Circo do RS</a>
          </h2>
          <p>Uma entidade sem fins lucrativos que visa estimular, fomentar e manter a produção circense no estado.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="http://autonomiaos.org/">Autonomia Open Source (AOS)</a>
          </h2>
          <p>Uma rede de colaboradores voltada para o desenvolvimento, aprimoramento e popularização de soluções tecnológicas e ferramentas de hardware aberto. A intenção desta organização é capacitar pessoas comuns de forma que alcancem condições cada vez maiores de autonomia – energética, produtiva e alimentar.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="https://www.institutosaira.org/">Instituto Saíra</a>
          </h2>
          <p>Investigação e gestão de projetos e tecnologias sustentáveis. Por um mundo com respeito aos seres, integração com a natureza e decisões consentidas, para uma vida plena, feliz e onde a evolução das potencialidades do ser humano é incentivada.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="https://www.nonada.com.br/">Nonada Jornalismo</a>
          </h2>
          <p>Uma organização de jornalismo cultural que entende a cultura para além da produção artística. Com sede em Porto Alegre/RS, desde 2010 busca ecoar com viés decolonial as múltiplas vozes que formam a cultura brasileira, com enfoque em pautas sobre processos artísticos, políticas culturais, comunidades tradicionais, culturas populares, censura e direitos humanos, memória e patrimônio.</p>
        </div>
      </div>
    </div>
  </div>
</div>
